.gameOverButton {
  position: relative;
  font-family: "Joti One", cursive;
  font-size: 40px;
  font-weight: bold;
  color: darkgreen;
  background-color: rgb(245, 245, 245);
  margin: 5px;

  /* 
  top: 50;
  border-bottom: -150;
  left: 40%;
  bottom: -60; 
  */
  z-index: 1;

  overflow: hidden;
  margin: 0;
  /* border: 0; */
  cursor: pointer;
  text-transform: uppercase;
  transition: all 300ms;
  translate: -50%;
  rotate: 45deg;
  padding: 0;
  outline: none;
  /* composes: submit; */
  /* height: auto;
  width: auto;
  font-size: 1em; */
  translate: -50% 50%;
  rotate: -5deg;
  padding: 0.25em 1em;
  /* border-bottom: 3px solid var(--spectrum5); */
}
.gameOverButton:hover {
  outline: 2px solid #fff;
  outline-offset: 4px;
  rotate: 0deg;
  scale: 1.2;
}
/* .gameOverButtonActive:focus,
.gameOverButtonActive:hover {
  border-bottom-color: var(--spectrum1);
  rotate: 0deg;
  scale: 1.2;
} */
