@import url("https://fonts.googleapis.com/css?family=Joti+One");

header {
  background-color: orange;
}

body {
  background-color: lightblue;
}

.Tetris {
  text-align: left;
}

.Tetris-header {
  /*background-color: lightgrey; /* #282c34; */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
  align-items: center;
  /* justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: white;
}

.playground-background {
  background: rgb(36, 36, 36);
}

.playground-panel {
  background: rgb(236, 154, 236);
  font-family: "Joti One", cursive;
  color: green;
  position: absolute;
}

.playground-dialogue {
  background: rgb(236, 154, 236, 0.7);
  color: green;
  font-family: "Joti One", cursive;
  font-size: 30px;
  border-radius: 10px;
  padding: 15px 35px 15px 35px;
  text-align: center;
  position: absolute;
}

.playground-input-dialogue {
  background: rgb(236, 154, 236, 0.7);
  color: green;
  font-family: "Joti One", cursive;
  font-size: 20px;
  text-align: left;
}

.score-heading {
  font-size: 80px;
}

.score-text {
  font-size: 50px;
  margin: 15px 15px;
}

.score-panel {
  background-color: yellow;
  /* 
  background: rgb(187, 107, 187);
  padding: 10;
  margin: 10;
  border-radius: 25;
  margin-bottom: 10; */
}

.button-text {
  font-family: "Joti One", cursive;
  font-size: 32px;
  color: darkgreen;
  background-color: rgb(245, 245, 245);
  margin: 15px;

  transition: all 500ms;
  padding: 0.25em 1em;
}

.button-text.tilt-left {
  rotate: -15deg;
}

.button-text.tilt-right {
  rotate: 15deg;
}

.button-text:hover {
  outline: 2px solid #fff;
  outline-offset: 4px;
  rotate: 0deg;
  scale: 1.4;
}


.dialog-text {
  font-size: 40px;
}

.ScoreStyleShadow {
  background: "grey";
}

.brick {
  width: "40px";
  height: "40px";
  position: "absolute";
}
